.header {
  height: rem(56px);
  background-color: var(--mantine-color-gray-3);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: 10px;
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: var(--mantine-color-blue-4);
}
